{% extends "base.html" %}


{% block body %}
<form action="/update" method="post">
    <label for="boat_id">Boat ID (Cannot be changed):</label>
    <input type="text" id="boat_id" name="boat_id" required readonly> 

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="type">Type:</label>
    <input type="text" id="type" name="type" required>

    <label for="owner_id">Owner ID:</label>
    <input type="text" id="owner_id" name="owner_id" required>

    <label for="rental_price">Rental Price:</label>
    <input type="number" id="rental_price" name="rental_price" required>

    <button type="submit">Update Boat</button>
</form>

{% endblock %}
